Library/ShaderCache
Library/ScriptAssemblies
Library/metadata
UpgradeLog2.htm
UpgradeLog.htm
Temp
TableFlipper.sln
Assembly-CSharp.csproj
Library/assetDatabase3
Library/AssetServerCacheV3
Library/expandedItems
Library/ScriptMapper
Library/ProjectSettings.asset
Library/LastSceneManagerSetup.txt
Library/LastBuild.buildreport
Library/EditorUserBuildSettings.asset
Library/CurrentLayout.dwlt
